body, html {
    /*background-image: url(http://eskipaper.com/images/pokemon-backgrounds-1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    
}
.wrapper {
    margin: auto;
    width: 75%;
    padding-top: 100px;
}

ul {
    list-style-type: none;
}
.pokeHolder {
    margin: 5px;
    border: 1px;
    float: left;
    margin-bottom: 50px;
}
.badge {
    width: 90px;
    position: relative;
    left: 20px;
}

.Grass {
    clear: both;
    background-color: green;
    color: whitesmoke;
}
.Poison {
    background-color: purple;
    margin-left: 5px;
    color: whitesmoke;
}
.Fire {
    background-color: red;
    color: whitesmoke;
}
.Water {
    background-color: rgb(0, 132, 255);
    color: whitesmoke;
}
.Flying {
    background-color: mediumpurple;
    color: whitesmoke;
    
}
.Bug {
    background-color: lightgreen;
    
}
.Normal {
    background-color: gray;
    color: whitesmoke;
}
.Electric {
    background-color: rgb(200, 255, 0);
}
.Ground {
    background-color: sandybrown;
    
}
.Fairy {
    background-color: pink;
}
.Fighting {
    background-color: rgb(139, 30, 30);
    color: whitesmoke;
}
.Psychic {
    background-color: rgb(48, 6, 88);
    color: whitesmoke;
}
.Rock{
    background-color: brown;
    color: whitesmoke;
}
.Steel {
    background-color: lightgray;
}
.Ghost {
    background-color: black;
    color: whitesmoke;
}
.Ice {
    background-color: aqua;
}
.Dragon {
    background-color: rosybrown;
}
.pokemon {
   background-color: tan;
   opacity: 1;
   
}
.jumbo-container {
    text-align: center;
}
.top {
padding-top: 20px;
}
.modal-header {
    color: white;
    text-align: center;
   
}
.modal-title {
    
}

.modal-body{
    color: white;
    text-align: center;
    position: relative;
    bottom: 12px;
}
.jumbotron {
    
    /*background-image: url(https://wallpapercave.com/wp/l1mDM6N.jpg);
    color: whitesmoke;*/
    position: relative;
    top: 75px;
    max-width: 100%;
    height: auto;
    
}
#pokeModal {
    position: fixed;
    top: 30%;
}
.pokeI {
    display: block;
    float: left;
}

    
